<h2 class="my-4">All Articles</h2>
<p>
  <a href="/articles/new" class="btn btn-primary">New Article</a>
</p>
{{#each articles}}
<div class="card card-body mb-3">
  <h4 class="mb-3">{{title}}</h4>
  <p>{{body}}</p>
  <p><small>{{created_at}}</small></p>
  <div class="mt-2">
    <a href="/articles/{{id}}" class="btn btn-primary mr-2">Show</a>
    <a href="/articles/edit/{{id}}" class="btn btn-warning mr-2">Edit</a>
    <form action="/articles/{{id}}?_method=DELETE" method="POST" style="display:inline-block">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete" class="btn btn-danger mr-2">
    </form>
  </div>
</div>
{{else}}
<p>There are currently no articles to display.</p>
{{/each}}