<h2 class="my-4">{{article.title}}</h2>
<p>{{article.body}}</p>
<p>
  <small>{{article.created_at}}</small>
</p>
<div>
  <a href="/articles" class="btn btn-dark mr-2">Back</a>
  <a href="/articles/edit/{{article.id}}" class="btn btn-warning mr-2">Edit</a>
  <form action="/articles/{{article.id}}?_method=DELETE" method="POST" style="display:inline-block">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete" class="btn btn-danger mr-2">
  </form>
</div>